<%- include('./partials/header') %>

<h1>Welcome to LyrAssist</h1>
<p>LyrAssist is a musician's social media haven. Designed with song writing in mind, 
    it allows musicians of all specialties to collaborate together to make your own unique songs.
    For example, you are a create lyracist, but you struggle with adding instrumentals to your melody. 
    LyrAssist allows you to post your lyrics, and hear feedback from others who are awesome instrumentalists.
    With LyrAssist, your songwriting skills will never be in question. 
</p>
<h2>Getting started with LyrAssist is as easy as DO RE MI!</h2>
<p>All you need is an account with Google. Simply hit the sign in button, log in with your email account, 
    and TA-DA you are ready to see all LyrAssist has to offer.</p>
<p>LyrAssist is frequently updating and expanding. Keep your eyes out for new features coming soon!</p>

<%- include('./partials/footer') %>
