* {
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(to right,
      white 0%,
      white 50%,
      #276955 0%,
      #276955 50%);
}

main {
  margin-top: 8rem;
}

.allContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

/* --- Landing Page ---*/

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 3rem;
  color: white;
  text-align: center;
}

#home>p {
  font-size: 2rem;
}

#home>h1 {
  font-size: 4rem;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo>img {
  margin: 2rem;
  max-width: 95%;
  max-height: 95%;
}

#loginbtn,
.vpbtn {
  font-size: 2rem;
  background-color: #276955;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border: black;
}

#loginbtn:hover {
  background-color: black;
}

/* --- Nav Bar ---*/

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  height: 6rem;
  background-color: #276955;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  align-items: center;
  border-bottom: .5rem solid white;
}

.navbar>a {
  font-family: 'Playfair Display', serif;
  font-size: 5vmin;
  color: #fff;
  text-decoration: none;
}

/* --- Index ---*/

#newPostFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#newPost {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #276955;
  border: .1rem solid black;
  width: 60%;
  height: 40%;
}

#newPost>label {
  font-size: 4rem;
  color: white;
}

#newPost>textarea {
  width: 40rem;
  height: 50rem;
}

#newPost>button {
  font-size: 2rem;
  background-color: black;
  color: white;
  padding: 15px 25px;
  border: black;
  margin-top: 1rem;
}

#newPost>button:hover {
  background-color: white;
}

#post {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.posts {
  background-color: white;
  border: .1rem solid black;
  width: 80%;
  height: 40%;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user>img {
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  margin-top: 1rem;
}

.user>span {
  height: 4rem;
  font-size: 2rem;
}

.postContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.vpbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.vpbtn:hover {
  background-color: white;
}

/* --- Show ---*/

#showGridLeft {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 60rem;
}

#showPost {
  background-color: #276955;
  border: .1rem solid black;
  width: 80%;
  height: 100%;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 4fr 1fr;
  margin: 0 auto;
}


#showPost>.user {
  color: white;
  text-align: center;
  padding-left: 1rem;
}

#showPost>.showContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: white;
}

.update {
  grid-column: span 2;
  font-size: 2rem;
  background-color: black;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border: black;
  text-align: center;
  align-self: center;
}

.update:hover {
  background-color: white;
}

#add-comment-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #276955;
  border: .1rem solid black;
  width: 80%;
  height: 100%;
  margin: 5rem auto 0;
}

#add-comment-form>label {
  font-size: 4rem;
  color: white;
}

#add-comment-form>textarea {
  width: 90%;
  height: 80%;
}

#add-comment-form>input[type="submit"] {
  font-size: 2rem;
  background-color: black;
  color: white;
  padding: 15px 25px;
  border: black;
  margin: 1rem;
}

#add-comment-form>input[type="submit"]:hover {
  background-color: white;
}

#comment {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.comments {
  background-color: white;
  border: .1rem solid black;
  width: 80%;
  height: 40%;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}

.commentContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

#comment>button {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: black;
}

/* --- Edit---*/

#editPost {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #276955;
  border: .1rem solid black;
  width: 60%;
  height: 40%;
  margin: 15rem 30rem 15rem 30rem;
}

#editPost>label {
  font-size: 4rem;
  color: white;
}

#editPost>textarea {
  width: 90%;
  height: 50%;
  font-size: 4rem;
}

#editPost>button {
  font-size: 2rem;
  background-color: black;
  color: white;
  padding: 15px 25px;
  border: black;
  margin: 1rem;
}

#editPost>button:hover {
  background-color: white;
}

#deletePost {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #276955;
  border: .1rem solid black;
  width: 60%;
  height: 40%;
  margin:  15rem 30rem 15rem 30rem;
}

#deletePost>button {
  font-size: 2rem;
  background-color: black;
  color: white;
  padding: 15px 25px;
  border: black;
  margin: 7rem;
}

#deletePost>button:hover {
  background-color: white;
}
