<%- include('../partials/header') %>

<form id="editPost" action="/posts" method="PUT">
    <label>Update Post:</label>
    <textarea name="content"></textarea>
    <br>
    <button type="submit">Update Post</button>
</form>

<%- include('../partials/footer') %>